# Core functionality - changes here should be rare!
/src/app.py                   @GeorgeBotsev
/src/backend/database.py      @GeorgeBotsev
/src/backend/routers/auth.py  @GeorgeBotsev

# The frontend will need refactored soon to be more object oriented.
/src/static/   @GeorgeBotsev
